body {
  font-family: 'Roboto', sans-serif !important;
}
.carousel .carousel-item img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}
.bg-gray {
  background-color: #ebeef3;
}
.carousel-indicators {
  bottom: 30px;
}
.feature h5 {
  font-weight: 900;
  color: #0774b9;
}
.feature p {
  font-weight: 300;
  font-size: 14px;
}
.feature i.fas {
  vertical-align: middle;
  color: #212529;
}
h1 {
  font-weight: 700;
  color: #0774b9;
  text-align: center;
}
.search-bar input {
  width: 330px !important;
}
.search-bar button {
  width: 160px;
}
.feature .row div {
  padding: 0 20px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.promotional-packages div img {
  width: 100%;
  height: auto;
}
.slick-slide {
  margin: 0 8px;
}
.slick-slide > div:first-child {
  margin-bottom: 8px;
}
.sticky-top {
  top: 84px;
}
.slick-slide img {
  width: 100%;
}
.slick-list {
  margin: 0 -8px;
}
.slick-prev:before,
.slick-next:before {
  font-family: initial !important;
  color: black;
}
.bg-gba-repeat {
  background-color: #ebeef3;
  background-image: url('img/seamless-pattern-small.png');
  background-repeat: repeat;
}
.bg-gba-blue {
  background-color: #0197e3;
}
.bg-gba-yellow {
  background-color: #f89522;
}
.bg-gba-red {
  background-color: #ea242b;
}
.gba-blue {
  color: #0197e3;
}
.gba-yellow {
  color: #f89522;
}
.gba-red {
  color: #ea242b;
}
.accommodation-style .card-deck h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600 !important;
}
.accommodation-style .card-deck .card-header {
  padding: 25px 0 15px 0;
}
.card-header:first-child {
  border-radius: 25px 25px 0 0;
  border-bottom: 0;
}
.card {
  border-radius: 25px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
}
.arrow-blue {
  border-top-color: #0197e3;
}
.arrow-orange {
  border-top-color: #f89522;
}
.arrow-red {
  border-top-color: #ea242b;
}
.accommodation-style .goby {
  margin-top: -85px;
  width: 240px;
  margin-left: 70px;
  z-index: 999;
  position: relative;
}
.accommodation-style .description {
  margin-top: -140px;
}
.btn-gba-blue {
  color: #fff;
  background-color: #0774b9;
  border-color: #0774b9;
}
.btn-gba-blue:hover {
  color: #fff;
  background-color: #05578a;
  border-color: #05578a;
}
footer {
  background-color: #033c67;
  border-top: 10px solid #2298be;
  color: #c9cfd7;
  font-weight: 300;
  font-size: 12px;
}
footer .social-media a i {
  font-size: 30px;
  color: #fff;
  margin-right: 25px;
}
footer h5 {
  font-weight: 400;
  margin-bottom: 15px;
}
footer ul li a {
  font-size: 13px;
  color: #c9cfd7;
  line-height: 2;
}
.newsletter .form-control {
  height: 32px;
  border-color: #ffffff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 300px;
}
.newsletter .form-control:focus {
  box-shadow: none;
}
.newsletter .btn {
  min-height: 30px;
  background: #bb0b0f;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 768.998px) {
  .accommodation-style .card-deck {
    padding: 0 0;
  }
}

@media (min-width: 769px) {
  .accommodation-style .card-deck {
    padding: 0 160px;
  }
}
.gba-v-pills .nav-pills {
}
.gba-v-pills .nav-link {
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  margin-bottom: 35px;
  padding: 3% 10%;
  cursor: pointer;
  color: #959595;
}

.gba-v-pills .nav-link h5 {
  font-weight: 900;
  color: #0774b9;
}
.gba-v-pills .nav-pills .nav-link.active,
.gba-v-pills .nav-pills .show > .nav-link {
  color: #959595;
  background-color: transparent;
  box-shadow: 0 0.15rem 0.5rem rgba(7, 116, 185, 0.75) !important;
}
.gba-v-pills .tab-pane {
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
}
.gba-v-pills .tab-pane .pills-header {
  background-color: #ebeef3;
  border-radius: 5px 5px 0 0;
  padding: 25px 70px;
  color: #959595;
}

.gba-v-pills h5 {
  font-weight: 900;
  color: #0774b9;
}

.gba-v-pills .tab-pane .pills-content {
  padding: 25px 70px;
}

label {
  margin-bottom: 0;
}
.custom-file {
  margin-bottom: 1rem;
}
.additional-contact > img {
  width: 100%;
  margin-bottom: 24px;
}
.additional-contact a > div > img {
  height: 75px;
  margin-right: 24px;
}
.additional-contact a {
  color: #000;
}
.additional-contact a:hover {
  color: #000;
  text-decoration: none;
}
.additional-contact a > div {
  border-radius: 15px 0 0 15px;
  margin-bottom: 15px;
}
